version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "15667:15667"
    volumes:
      # 将NAS上的data目录挂载到容器的data目录，用于持久化SQLite文件
      - /volume1/docker/JobSPA/data:/app/data
    environment:
      - FLASK_ENV=production
      - DATABASE_URL=sqlite:///data/projectmanagement.db

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
